* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*******header/ search-bar*******/
header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
}
header img {
    width: 180px;
    height: 30px
}
.search {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px 20px 0;
    background-color: #f2f2f2;
}
.search i {
    font-size:18px;
}
.search h2 {
    font-size: 18px;
    font-weight: 500;
}
/*********explore/ fontction**********/
.explore {
    padding: 50px 20px 50px;
}
.title-explore {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.button-explore {
    margin-top: 30px;
}
.button-explore button {
    padding: 15px 20px 15px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #9356DC;
}
/********card restaurant************/
.restaurants {
    background-color: #f2f2f2;
}
.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width:45%;
    min-width: 150px;
    margin: 15px;
    border-radius: 20px;
    background: #fff;
}

.card img {
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-radius: 15px 15px 0 0;
}