* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
}
/*******header/ search-bar*******/
header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
}
header img {
    width: 180px;
    height: 30px
}
.search {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px 20px 0;
    background-color: #e7e6e6b4;
}
.search i {
    font-size:18px;
}
.search h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
/*********explore/ fontction**********/
.explore {
    text-align: center;
    padding: 40px 20px 60px;
    background-color: #f6f6f6;
}
.explore p {
    font-size: 18px;
    font-weight: 300;
}
.btn-explore {
    margin-top: 30px;
}
.btn-explore button {
    padding: 15px 20px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 3px 5px 2px rgb(201, 199, 199);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-image: linear-gradient( 175deg, #FF79DA, #9356DC 90%);
    transition: transform 300ms;
}
.btn-explore button:hover {
    transform: scale(1.05);
    opacity: 1.2;
}
.fonction {
    counter-reset: list;
    padding: 50px 20px 80px 40px;
}
.fonction ol {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    gap: 20px;
    list-style: none;
}
.fonction i {
    margin-right: 20px;
}
.fonction li {
    position: relative;
    flex-grow: 1;
    width: 50%;
    padding: 30px;
    border-radius: 23px;
    background-color: #f6f6f6;
    box-shadow: 1px 3px 10px -1px rgb(228, 226, 226);
    transition: transform 300ms;
}
.fonction li::before {
    counter-increment: list;
    content: counter(list);
    display: grid;
    place-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -15px;
    bottom: 25px;
    border-radius: 50px;
    color: white;
    background-color: #9356DC;
}
.fonction li:hover {
    transform: scale(1.01);
}
/********card restaurant************/
.menu {
    padding: 50px 20px 80px;
    background-color: #f6f6f6;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width:100%;
    min-width: 250px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 5px 5px 5px #e2e2e2;
}
.badge {
    position: relative;
}
.badge::before {
    content: "Nouveau";
    font-weight: 500;
    position: absolute;
    display: grid;
    place-items: center;
    top: 15px;
    right: 15px;
    height: 35px;
    width: 90px;
    border-radius: 3px;
    color: #128367;
    background-color: #99E2D0;
}
.card img {
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-radius: 15px 15px 0 0;
}
.card__content {
    position: relative;
}
.card__content h3 {
    margin: 18px 0 5px 15px;
}
.card__content p {
    margin-left: 15px;
    margin-bottom: 18px;
}
.card__content i {
    position: absolute;
    font-size: 30px;
    right: 25px;
    top: 25px;
}