header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
}
header img {
    width: 180px;
    height: 30px
}
header i {
    position: relative;
}
header i::before {
    position: absolute;
}