.fonction {
    counter-reset: list;
    padding: 50px 20px 80px 40px;
    ol {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 15px;
        gap: 30px;
        list-style: none;
        li {
        font-weight: bold;
        position: relative;
        padding: 30px;
        border-radius: 23px;
        background-color: #f6f6f6;
        box-shadow: 1px 5px 10px -1px rgb(228, 226, 226);
        cursor: pointer;
        transition: transform 300ms;
        }
    }
    li::before {
        counter-increment: list;
        content: counter(list);
        display: grid;
        place-items: center;
        position: absolute;
        width: 30px;
        height: 30px;
        left: -15px;
        bottom: 25px;
        border-radius: 50px;
        color: white;
        background-color: #9356DC;
    }
    li:hover {
        opacity: 1;
        background-color: #9256dc21;
        transform: scale(1.01);
    }
    i {
        color: gray;
        font-size: 18px;
        margin-right: 20px;
    }
    :hover > i{
        color: #9356DC;
    }
    @media screen and (min-width: 768px) {
        h2 {
            text-align: center;
        }
        ol {
            flex-direction: row;
            justify-content: center;
            gap: 50px;
            margin-top: 30px;
            margin-bottom: 50px;
            li {
                padding: 50px;
            }
        }
        li::before {
            bottom: 45px;
        }
    }
}