.menu {
    padding: 50px 20px 80px;
    background-color: #f6f6f6;
    h2 {
        padding-bottom: 15px;
    }
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .card {
        overflow: hidden;
        width:100%;
        min-width:500px;
        max-width: 700px;
        border-radius: 15px;
        background: #fff;
        box-shadow: 5px 5px 5px #e2e2e2;
        transition: transform 300ms;
    }
    .card:hover {
        transform: scale(1.02)
    
    }
}
.badge {
    position: relative;
}
.badge::after {
    content: "Nouveau";
    font-weight: 500;
    position: absolute;
    display: grid;
    place-items: center;
    top: 15px;
    right: 15px;
    height: 35px;
    width: 90px;
    border-radius: 3px;
    color: #128367;
    background-color: #99E2D0;
}
.card img {
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-radius: 15px 15px 0 0;
}
.card__content {
    position: relative;
    h3 {
        margin: 18px 0 5px 15px;
    }
    p {
        margin-left: 15px;
        margin-bottom: 18px;
    }
    i {
        position: absolute;
        font-size: 30px;
        right: 25px;
        top: 10px;
    }
}