.explore {
    text-align: center;
    padding: 40px 20px 60px;
    background-color: #f6f6f6;
    p {
        font-size: 18px;
        font-weight: 300;
    }
}
.btn-explore {
    margin-top: 30px;
}