footer {
    padding: 30px 25px 30px;
    background-color: rgb(58, 57, 57);
    color: white;
    h3 {
        font-family: 'Shrikhand';
        font-size:22px;
        font-weight: normal;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    p {
        padding-bottom: 10px;
    }
}
.fa-utensils {
    padding-right: 12px;
    font-size:14px;
}
.fa-hands-helping {
    padding-right: 8px;
    font-size: 12px;
}