.search {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px 20px 0;
    background-color: #e7e6e6b4;
    i {
        font-size:18px;
    }
    h2 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
    }
}