@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.8px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  width: 240px;
  padding: 15px 20px 15px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 3px 5px 2px #c9c7c7;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC 90%);
  transition: transform 400ms;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.card-detail .fas {
  color: transparent;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
}

.card-detail .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

.menu__title .fas {
  color: transparent;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
}

.menu__title .fas:hover {
  opacity: 1;
  transform: scale(1.15);
}

.loader {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #FF79DA, #9356DC);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
  inset: 0;
  z-index: 1;
  animation: fade 600ms ease-in-out 2.5s forwards;
}
.loader h2 {
  font-family: Shrikhand;
  font-size: 60px;
}
.loader::after {
  content: "Découvrez des restaurants d'exception, séléctionnés par nos soins.";
  color: black;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
}
.loader .loader-icons {
  color: #fff;
}
.loader .loader-icons i {
  transform: scale(0);
  padding: 7px;
}
.loader .loader-icons :nth-child(1) {
  animation: grow 1.5s linear infinite;
}
.loader .loader-icons :nth-child(2) {
  animation: grow 1.5s 0.2s linear infinite;
}
.loader .loader-icons :nth-child(3) {
  animation: grow 1.5s 0.4s linear infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes grow {
  50% {
    transform: scale(1);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 25px;
  padding-bottom: 15px;
  box-shadow: 0 2px 2px 1px #bbbbbb;
}
header a {
  position: absolute;
  top: 25px;
  left: 30px;
}
header a .fa-arrow-left {
  color: #474747;
  font-size: 24px;
}
header img {
  width: 180px;
  height: 30px;
}

.search {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px 20px 0;
  background-color: #e7e6e6b4;
}
.search i {
  font-size: 18px;
}
.search h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.explore {
  text-align: center;
  padding: 40px 20px 60px;
  background-color: #f6f6f6;
}
.explore p {
  font-size: 18px;
  font-weight: 300;
}
.explore .btn-explore {
  margin-top: 30px;
}

.fonction {
  counter-reset: list;
  padding: 50px 20px 70px 20px;
}
.fonction ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 20px;
  gap: 30px;
  list-style: none;
}
.fonction ol li {
  font-weight: bold;
  position: relative;
  padding: 30px;
  border-radius: 23px;
  background-color: #f6f6f6;
  box-shadow: 1px 5px 10px -1px #e4e2e2;
  cursor: pointer;
  transition: transform 300ms;
}
.fonction li::before {
  counter-increment: list;
  content: counter(list);
  display: grid;
  place-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  bottom: 25px;
  border-radius: 50px;
  color: white;
  background-color: #9356DC;
}
.fonction li:hover {
  opacity: 1;
  background-color: #9256dc21;
  transform: scale(1.01);
}
.fonction i {
  color: gray;
  font-size: 18px;
  margin-right: 20px;
}
.fonction :hover > i {
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .fonction h2 {
    text-align: center;
  }
  .fonction ol {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .fonction ol li {
    padding: 50px;
  }
  .fonction li::before {
    bottom: 45px;
  }
}

.selection {
  padding: 50px 20px 80px;
  background-color: #f6f6f6;
}
.selection h2 {
  padding-bottom: 15px;
}
@media screen and (min-width: 760px) {
  .selection h2 {
    text-align: center;
  }
}
.selection .selection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.selection .selection-list .card {
  width: 100%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #e2e2e2;
  transition: transform 300ms;
}
@media screen and (min-width: 760px) {
  .selection .selection-list .card {
    width: 35%;
  }
}
@media screen and (min-width: 992px) {
  .selection .selection-list .card {
    width: 20%;
  }
}
.selection .selection-list .card img {
  max-height: 220px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card:hover {
  transform: scale(1.02);
}

.card-detail {
  position: relative;
}
.card-detail h3 {
  margin: 18px 0 5px 15px;
}
.card-detail p {
  margin-left: 15px;
  margin-bottom: 18px;
}
.card-detail i {
  position: absolute;
  font-size: 30px;
  right: 25px;
  top: 10px;
}

.badge {
  position: relative;
}

.badge::after {
  content: "Nouveau";
  font-weight: 500;
  position: absolute;
  display: grid;
  place-items: center;
  top: 15px;
  right: 15px;
  height: 35px;
  width: 90px;
  border-radius: 3px;
  color: #128367;
  background-color: #99E2D0;
}

footer {
  padding: 30px 25px 30px;
  background-color: #3a3939;
  color: white;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
footer p {
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  footer .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer-content {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

.fa-utensils {
  padding-right: 12px;
  font-size: 14px;
}

.fa-hands-helping {
  padding-right: 8px;
  font-size: 12px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: normal;
}

img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center;
}

.menu {
  margin-top: -60px;
  padding: 30px 20px 60px;
  border-radius: 50px 50px 0 0;
  background-color: #f6f6f6;
  position: relative;
}
.menu p {
  color: #575757;
}

.menu__title {
  margin-bottom: 30px;
}
.menu__title i {
  position: absolute;
  font-size: 25px;
  top: 38px;
  right: 50px;
  cursor: pointer;
}

.menus {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  gap: 30px;
}

.menu__box {
  padding-bottom: 15px;
}

.menu__head {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.menu__head p {
  padding-bottom: 3px;
}

.menu__card {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  min-width: 520px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 5px 10px -1px #e4e2e2;
  transition: all 0.5s;
  animation: loadin 1s ease-in-out forwards;
}

.menu__card:hover {
  transform: scale(1.02);
}

.card__content {
  gap: 5px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.price {
  padding-right: 20px;
  padding-top: 25px;
  margin-left: auto;
  font-weight: bold;
}

.mark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 24px;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  transition: all 0.8s;
}
.mark i {
  transition: all 0.7s;
}
.mark .fa-check-circle {
  font-size: 20px;
  color: #fff;
}

.menu__card:hover > .mark {
  margin-right: 0;
}

.menu__card:hover > .mark i {
  transform: rotate(360deg);
}

.btn-cmd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@keyframes loadin {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
